<script type="text/javascript">
$(document).ready(function(){
	$('div[id^="rank_by_class"] a').each(function(){
		$(this).on("click", function(e){
			e.preventDefault();
			var c_class = $(this).attr("id").split("_")[2],
				server = $(this).attr("id").split("_").slice(3).join('_');
			App.populateRanking('players', server, c_class);
		});
	});
});	
</script>
<div class="row">
	<div class="col-12">     
		<div id="rank_by_class" class="text-center mb-1">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" id="classDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= App.lc.translate('By Class').fetch() %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="classDropDown">
					<li>
						<a href="javascript:;" id="class_rankings_dw_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/dw.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Wizards').fetch() %>
						</a>
					</li>
					<li>
						<a href="javascript:;" id="class_rankings_dk_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/dk.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Knights').fetch() %>
						</a>
					</li>	
					<li>
						<a href="javascript:;" id="class_rankings_fe_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/fe.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Elfs').fetch() %>
						</a>
					</li>	
					<li>
						<a href="javascript:;" id="class_rankings_mg_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/mg.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Gladiators').fetch() %>
						</a>
					</li>
					<li>
						<a href="javascript:;" id="class_rankings_dl_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/dl.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Lords').fetch() %>
						</a>
					</li>
					<li>
						<a href="javascript:;" id="class_rankings_su_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/su.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Summoners').fetch() %>
						</a>
					</li>
					<% if(mu_version >= 2){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_rf_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/rf.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Fighters').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 5){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_gl_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/gl.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Lancers').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 9){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_rw_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/rw.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('RuneWizards').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 10){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_sl_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/sl.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Slayers').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 11){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_gc_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/gc.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Crushers').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 12){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_wm_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/wm.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Light Wizards').fetch() %>
						</a>
					</li>
					<li>
						<a href="javascript:;" id="class_rankings_lr_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/lr.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Lemuria Mages').fetch() %>
						</a>
					</li>
					<% } %>
					<% if(mu_version >= 13){ %>	
					<li>
						<a href="javascript:;" id="class_rankings_ik_<%= server_selected %>">
							<img style="border:1px solid #071e2c;  width:20px;" src="<%= base_url %>assets/default_assets/images/char_icons/ik.jpg" class="rankings-player-class-img rounded-image-corners">&nbsp;&nbsp;<%= App.lc.translate('Illusion Knight').fetch() %>
						</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12"> 
	<% 
	if(typeof players != 'undefined'){ 
	if(players != false){
	%>
	<div class="table-responsive-sm">
	<table class="table dmn-rankings-table table-striped">
		<thead>
		<tr>
			<th class="text-center">#</th>
			<th><%= App.lc.translate('Name').fetch() %></th>
			<th><%= App.lc.translate('Class').fetch() %></th>
			<th class="text-center"><%= App.lc.translate('LvL').fetch() %><% if(config.player.display_master_level == 1) { %><sup style="color: red;"><%=App.lc.translate('ML').fetch() %></sup><%}%></th>
			<% if(config.player.display_resets == 1) { %><th class="text-center"><%= App.lc.translate('Resets').fetch() %><% if(config.player.display_gresets == 1) { %><sup style="color: red;"><%= App.lc.translate('GR').fetch() %></sup><% } %></th><% } %>
			<th><%= App.lc.translate('Location').fetch() %></th>
		</tr>
		</thead>
		<tbody>
		<% for(var i=0; i<players.length; i++) { %>
		<tr>
			<td class="text-center"><%= pos++ %> <% if(config.player.display_country == 1) { %><span class="f16"><span class="flag <%= players[i].country %>"></span></span><% } %></td>
			<td><a href="<%= base_url %>character/<%= players[i].name_hex %>/<%= server_selected %>"><%= players[i].name %></a> <% if(config.player.display_status == 1) { if(players[i].status == 1){ %><img src="<%= base_url %>assets/<%= tmp_dir %>/images/online.png" title="Online" /><% }else{ %><img src="<%= base_url %>assets/<%= tmp_dir %>/images/offline.png" title="Offline" /> <% }} %></td>
			<td><%= players[i].class %></td>
			<td class="text-center"><%= players[i].level %><% if(config.player.display_master_level == 1) { %><sup style="color: red;"><%= players[i].mlevel %></sup><% } %></td>
			<% if(config.player.display_resets == 1) { %><td class="text-center"><%= players[i].resets %><% if(config.player.display_gresets == 1) { %><sup style="color: red;"><%= players[i].gresets %></sup><% } %></td><% } %>
			<td><% if(!players[i].hidden){ %><%= players[i].loc %><% } else { %><%= App.lc.translate('hidden').fetch() %><% } %></td>
		</tr>  
		<% } %>
		</tbody>
	</table> 
	</div>	
	<% if(typeof pagination != 'undefined'){ %>
		<div class="text-center;"><%= pagination %></div>
	<% } %>
	<% if(typeof cache_time != 'undefined'){ %>
		<div class="row">
			<div class="col-12"> 
				<div class="float-right"><%= cache_time %></div>
			</div>	
		</div>
	<% } %>
	<% 
	}
	else{
	%>
		<div class="alert alert-primary" role="alert"><%= App.lc.translate('No Players Found').fetch() %></div>
	<%
	}
	} 
	%>
	</div>
</div>	
<div class="row mb-5">
	<div class="col-12"> 
	<div class="mx-auto" style="width: 300px;">
		<form method="post" class="form" action="<%= base_url %>rankings/search/<%= server_selected %>">
		  <div class="form-row align-items-center">
			<div class="col-auto">
			  <label class="sr-only" for="inlineFormInput">Name</label>
			  <input type="text" class="form-control " id="name" name="name" placeholder="<%= App.lc.translate('Character Name').fetch() %>">
			</div>

			<div class="col-auto">
			  <button type="submit" class="btn btn-primary "><%= App.lc.translate('Submit').fetch() %></button>
			</div>
		  </div>
		</form>
	</div>
	</div>
</div>
	
