<% 
if(typeof cc != 'undefined'){ 
if(cc != false){
%>
<div class="row">
	<div class="col-12"> 
		<div class="table-responsive-sm">
		<table class="table dmn-rankings-table table-striped">
			<thead>
			<tr>
				<th class="text-center">#</th>
				<th><%= App.lc.translate('Name').fetch() %></th>
				<th class="text-center"><% if(typeof cc[0].pkillcount != 'undefined'){ %><%= App.lc.translate('Win').fetch() %><% }else{ %><%= App.lc.translate('Score').fetch() %><% } %></th>
				<% if(typeof cc[0].pkillcount != 'undefined'){ %><th class="text-center"><%= App.lc.translate('Player KillCount').fetch() %></th><% } %>
				<% if(typeof cc[0].mkillcount != 'undefined'){ %><th class="text-center"><%= App.lc.translate('Monster KillCount').fetch() %></th><% } %>
			</tr>
			<tbody>
			<% for(var i=0; i< cc.length; i++) { %>
			<tr>
				<td class="text-center"><%= i+1 %></td>
				<td><a href="<%= base_url %>character/<%= cc[i].name_hex %>/<%= server_selected %>"><%= cc[i].name %></a></td>
				<td class="text-center"><%= cc[i].score %></td>
				<% if(typeof cc[i].pkillcount != 'undefined'){ %><td class="text-center"><%= cc[i].pkillcount %></td><% } %>
				<% if(typeof cc[i].mkillcount != 'undefined'){ %><td class="text-center"><%= cc[i].mkillcount %></td><% } %>
			</tr>  
			<% } %>
			</tbody>
		</table> 
		</div>
	</div>
</div>		
<% if(typeof cache_time != 'undefined'){ %>
	<div class="row mb-4">
		<div class="col-11"> 
			<div class="float-right"><%= cache_time %></div>
		</div>	
	</div>
<% } %>
<% 
}
else{
%>
	<div class="alert alert-primary" role="alert"><%= App.lc.translate('No Players Found').fetch() %></div>
<%
}
} 
%>