<div class="blog-meta has-border bg-major-black">
	<h2 class="blog-title text-white font-theme h4 mt-25-sm mb-5-off">
		<a><%= App.lc.translate('Top Online').fetch() %></a>
	</h2>
</div>
<div class="blog-content bg-major-black">
<% 
if(typeof online != 'undefined'){ 
if(online != false){
%>
<div class="row">
	<div class="col-12"> 
		<div class="table-responsive-sm">
		<table class="table dmn-rankings-table table-striped">
			<thead>
			<tr>
				<th class="text-center">#</th>
				<th><%= App.lc.translate('Name').fetch() %></th>
				<th class="text-center"><%= App.lc.translate('Online Time').fetch() %></th>
			</tr>
			</thead>
			<tbody>
			<% for(var i=0; i<online.length; i++) { %>
			<tr>
				<td class="text-center"><%= i+1 %> <% if(config.online.display_country == 1) { %><span class="f16"><span class="flag <%= online[i].country %>"></span></span><% } %></td>
				<td><a href="<%= base_url %>character/<%= online[i].name_hex %>/<%= server_selected %>"><%= online[i].name %></a></td>
				<td class="text-center"><%= online[i].h %> <%= App.lc.translate('Hours').fetch() %> <%= online[i].m %> <%= App.lc.translate('Minutes').fetch() %></td>
			</tr>  
			<% } %>
			</tbody>
		</table>
		</div>
	</div>
</div>			
<% if(typeof cache_time != 'undefined'){ %>
	<div class="row mb-4">
		<div class="col-11"> 
			<div class="float-right"><%= cache_time %></div>
		</div>	
	</div>
<% } %>
<% 
}
else{
%>
	<div class="alert alert-primary" role="alert"><%= App.lc.translate('No Players Found').fetch() %></div>
<%
}
} 
%>
</div>