<% 
if(typeof killer != 'undefined'){ 
if(killer != false){
%>
<div class="ranking-5">
	<div class="ranking">
	<% for(var i=0; i<killer.length; i++) { %>
	<div class="row-ranking">
		<div class="cell-ranking fs-18 text-center" style="background: url('<%= base_url %>assets/<%= tmp_dir %>/images/class/<%= killer[i].class_small.toUpperCase() %>.png') #0f1116; min-width: 56px!important; padding-top: 3px; padding-left: 5px; text-align: left!important;"><%= i+1 %>ยบ</div>
		<div class="cell-ranking"><a href="<%= base_url %>character/<%= killer[i].name_hex %>/<%= server_selected %>"><%= killer[i].name %></a></div>
		<div class="cell-ranking text-center"><span><%= killer[i].PkCount %></span></div>
		<div class="cell-ranking text-center py-0 px-0"><% if(killer[i].g_name != '') { %><img src="<%= base_url %>rankings/get_mark/<%= killer[i].g_mark %>/36" class="mt-10" /><% } %> </div>
	</div>
	<% } %>
	</div>
	<table class="mt-10 mb-0 mg-auto w-75 pagination">
		<tr>
			<td><a class="vs-btn2 outline4 fs-12 page-left"><i class="fas fa-arrow-left text-white-50"></i></a></td>
			<td><a class="vs-btn2 outline4 fs-12 page-center">Page 01</a></td>
			<td><a class="vs-btn2 outline4 fs-12 page-right"><i class="fas fa-arrow-right text-white-50"></i></a></td>
		</tr>
	</table>
</div>
<script>paginateRankings('.ranking-5');</script>
<% 
}
else{
%>
<div class="i_note"><%= App.lc.translate('No Players Found').fetch() %></div>
<%
}
} 
%>